<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Daily Sip - Billing</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <h1>💳 Billing Counter</h1>

    <a href="/">
        <button class="back-btn">← Dashboard</button>
    </a>

    <div id="billingOrders">

        <p>Loading Ready Orders...</p>

    </div>

</div>

<script src="{{ url_for('static',
filename='js/billing.js') }}"></script>

</body>
</html>